.tumblr_posts{
	list-style: none;
}

.tumblr_post{
	padding-bottom: 60px;
	margin-top: 60px;
	border-bottom: 1px solid rgb(207, 207, 207);
}

.tumblr_title{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.tumblr_caption{
	margin-top: 20px;
}

.photoset{
	width: 100%;
}

.tumblr_text_post{
	
}

.tumblr_body{

}

.tumblr_video_post{

}

.tumblr_photo_post{

}

.tumblr_link_post{

}

